.bflex  {
    width: 100px;
    border: 5px solid black;
}

.box-flex {
    height: 100px;
    display: flex;
                            /* це все стосується тільки батьківських елементів */
    /* flex-wrap: wrap ;  no-wrap; */

    /* керує розміження елементів по горизонталі */

    /* justify-content: flex-start; flex-end;  - приєднатися допочатку або в праву*/
    /* justify-content:space-evenly ;space-around ;space-between;*/

    /* керує розміження елементів по вертикалі */

    /*ця властивість розтягує всі елементи в висоту відночно батьківського (для товарів в магазині) */
    /* align-items: stretch ; розтягує на всю ширину найбільшого контенту  */

    /* flex-direction: column; aligtn-items - разом змінює на вертикаль */
     /* flex-grow: ШИРИНА  визначає на скільки розмір елемента буде
      зростати відносно інших елементів у середині одного контейнера 
      якшо буде гров 1 тоді буде він найменше звужуватись*/
     /*flex-shrink  - пріоритет по зменшенню в розмірі */
     /* flex-basis: ; ширина для флекс елементів */

     /* Ширину блочним елементам можна не задавати */
} 

span{
    font-size: 20px;
}
